.userInfoHeader {
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.userInfoRow {
    margin-top: -15px;
}

.labelSpan {
    font-size: 1.2rem;
    margin-left: 10px;
}

.infoDiv {
    margin-right: 20px;
    font-size: 1.2rem;
}

.userFooter {
    margin-bottom: 15px;
}