.modalDiv {
    text-align: center;
    margin-bottom: 10px;
}

.songLinkDiv {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 10px;
}

.modalHeader {
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: -5px;
}

.bySpan {
    font-size: 1.3rem;
}

.fullSongLink:hover {
    cursor: pointer;
}