.stickyDiv {
    border: whitesmoke 1px solid;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: ghostwhite;
}

.centerColumn {
    margin-right: -50px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    /*right: 10px;*/
}

.dropdownItemSpan{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownItemSpan:hover {
    cursor: pointer;
}

.settingsItem:hover {
    cursor: pointer;
}

.settingsItem:hover .dropdownContent {
    display: block;
}

.settingsColumn {
    margin-left: -14px;
}

.menuList {

}

.activityItem {
    margin-right: -10px;
}

.userImageItem {
    margin-right: -13px;
}

.addUserItem {
    margin-right: 7px;
}
/*.menuDiv {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*}*/

/*.activityDiv {*/
/*    width: 25%;*/
/*    vertical-align: middle;*/
/*}*/

/*.userImageDiv {*/
/*    width: 25%;*/
/*}*/

/*.userImage {*/
/*    width: 25px;*/
/*}*/

/*.addUserDiv {*/
/*    width: 25%;*/
/*}*/