[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
python-jose = {extras = ["cryptography"],version = "*"}
flask = "*"
pytest = "*"
pymysql = "*"
flask-cors = "*"
flask-jwt-extended = "*"
numpy = "*"
requests = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[requires]
python_version = "3.6"
