commands:
    01-wget:
        command: "wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
    02-mkdir:
        command: "sudo mkdir /usr/local/bin/ffmpeg"
    03-tar:
        command: "sudo tar -xvf /tmp/ffmpeg.tar.xz -C /usr/local/bin/ffmpeg"
    04-ln:
        command: "sudo ln -s /usr/local/bin/ffmpeg/ffmpeg-4.1.3-amd64-static/ffmpeg /usr/bin/ffmpeg"

