.modalHeaderDiv {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgInput {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}

.loadedImgDiv {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.buttonDiv {
    text-align: center;
    margin: 15px 20px 10px;
}