.headerImgDiv {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.usernameDiv {
    position: absolute;
    z-index: 10;
    color: white;
    top: 144px;
    left: 184px;
    font-family: Arial Black, sans-serif;
    weight: 700;
    font-size: 2.5em;
}

.headerImg {
    width: 100%;
    z-index: 1;
}

.profileImg {
    position: absolute;
    width: 110px;
    height: 110px;
    border: 2px white solid;
    z-index: 5;
    /* there is default 14px padding from top and left*/
    top: 104px;
    left: 44px;
}

.followButtonDiv {
    position: absolute;
    z-index: 15;
    top: 140px;
    left: 660px;
}

.userPageMenuRow {
    margin-top: -28px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    weight: 700;
    font-size: 1.3em;
}

.userPageMenu {
    border-left: 2px solid silver;
}

.userPageMenuEntry {
    padding-top: 10px;
    padding-bottom: 10px;
}

.userPageLeftmostMenuEntry {
    color: white;
}

.profileImgModal:hover {
    cursor: pointer;
}

.headerImgModal:hover {
    cursor: pointer;
}