.listDiv {
    text-align: left;
}

.followImg {
    width: 60px;
}

.followUsernameDiv {
    font-size: 20px;
    padding-bottom: 8px;
}

.shareNumDiv {
    font-size: 15px;
}

.listItem {
    margin-left: 55px;
    margin-bottom: 5px;
}