.containerDiv {
    height: 100%;
}

.signUpForm, .signInForm {
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}

.signUpHeader, .signInHeader {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.71428571rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.signUpSubHeader, .signInSubHeader {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.passwordRecoveryDiv {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.authWarningDiv {
    margin-top: 0.7rem;
}

.orDiv {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.07412857rem;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.facebookButtonDiv {
    margin-bottom: 10px;
}

.facebookButton {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    background: #3b5998;
    color: white;
    border: 0px transparent;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    line-height: 20px;
    font-weight: 700;
}

.facebookButton:hover {
    cursor: pointer;
}

.signInDiv, .signUpDiv {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}

.signInLink, .signUpLink {
    padding-left: 1rem;
}

.signInLink:hover, .signUpLink:hover {
    cursor: pointer;
}
