.shareClipDiv {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    weight: 700;
    font-size: 1.3em;
    padding-left: 25px;
    padding-right: 15px;
    display: inline-block;
    width: 40%;
}

.tagInputDiv {
    width: 100%;
    padding-right: 25px;
}

.uploadInput {
    width: 100%;
    height: 30px;
    font-size: 1.1em;
}

.songUploadRow {
    margin-top: 10px;
}

.songInfoLabelColumn {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 14px;
    color: gray;
}

.songInfoColumn {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: -30px;
}

.songInfoFirstRow {
    margin-top: 10px;
}

.songInfoRow {
    margin-top: -20px;
}

.uploadSongDiv {
    border: 1px solid lightslategray;
    margin-left: 25px;
    height: 100%;
    vertical-align: middle;
}

.browseHeaderDiv {
    margin-top: 30px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.browseButtonDiv {
    margin-top: 10px;
}

.editUploadButtonDiv {
    margin-top: 10px;
}

.postInputDiv {
    margin-right: 25px;
}

.postTextArea {
    rows: 5;
    height: 70px;
    width: 100%;
    font-size: 1.1em;
}

.shareButtonDiv {
    padding-top: 5px;
}