.clipPlayColumn {
   margin-left: -14px;
}

.playIcon:hover {
    cursor: pointer;
}

.postLikeCommentColumn {
    display: inline;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    weight: 400;
    margin-left: 10px;
    margin-right: 0px;
}

.postLikeDiv {
    display: inline-block;
    margin-right: 10px;
}

.postCommentDiv {
    display: inline-block;
}

.likeNumSpan, .commentNumSpan {
    color: lightslategray;
    font-size: 1.2em;
}

.postListTagsColumn {
    margin-left: -14px;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    weight: 400;
    font-size: 1.2em;
    color: cornflowerblue;
    margin-right: 14px;
    overflow: hidden;
}

.postListFullPostColumn {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    weight: 400;
    font-size: 1.1em;
    color: slategray;
}

.songInfoLinkRow {
    margin-top: -20px;
    margin-bottom: -15px;
}

.songInfoColumn {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.fullSongColumn {
    margin-left: -5px;
}

.songSpan {
    color: dodgerblue;
}

.progressBarColumn {
    margin-left: -15px;
}

.progressDiv {

}

.progressBar {
    margin-left: 0px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 308px;
    height: 15px;
}

.progressBar::-webkit-progress-bar {
    background-color: lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progressBar::-webkit-progress-value {
    background-color: darkorange;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}