.modalHeader {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.modalSubHeader {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-left: 20px;
}

.warningDiv {
    margin-top: 10px;
}