.postDiv {
    border: solid grey 1px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: left;
}

.postHeaderDiv {

}

.profileImgDiv {
    margin-top: 5px;
}

.profileImgColumn {
    /*margin-bottom: -1em;*/
}

.headerInfoColumn {
    margin-left: -1.5em;
    margin-top:0.2em;
}

.songInfoRow {
    margin-top: 10px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.bySpan {
    font-size: 1rem;
    font-color: gray;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.playBarColumn {
    margin-left: -1em;
}

.tagsRow {
    margin-top: -1.5em;
}

.tagsSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: deepskyblue;
}

.actionRow {
    margin-top: -1em;
}

.actionLabel {
    color: lightslategray;
}

.contentRow {
    margin-top: -1.5em;
}

.contentSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.commentHeaderRow {
    margin-top: -1em;
}

.dateRow {
    margin-top: -1.5em;
}

.dateSpan {
    color: lightslategray;
}

.playIcon, .actionIcon  {
    cursor: pointer;
}

.usernameRow {
    margin-top: 0.6em;
}

.usernameDiv {
    /*display: inline-block;*/
}

.buttonSpan {
    font-size: 1.2em;
}

.usernameSpan {
    color: black;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2em;
    width: 400px;
    float: left;
}

.dropdown {
    margin-left: 20px;
}

.songPlayRow {
    margin-top: -0.8em;
    margin-left: 5px;
}

.progressDiv {

}

.progressBar {
    margin-left: 0px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 470px;
    height: 20px;
}

.progressBar::-webkit-progress-bar {
    background-color: lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.progressBar::-webkit-progress-value {
    background-color: darkorange;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.commentPreviewRow {
    margin-top: -1.2em;
}

.commentUsernameSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    padding-right: 0.6em;
}

.commentContentSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.commentInputRow {
    margin-top: -1em;
}

