.editInfoHeader {
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.editInfoRow {
    margin-top: -15px;
}

.labelSpan {
    font-size: 1.2rem;
    margin-left: 10px;
}

.inputDiv {
    margin-right: 20px;
    margin-left: -14px;
}

.authWarningDiv {
    margin: 15px 20px;
}

.editButtonDiv {
    margin: 15px 20px 20px;
}

