.editInfoHeader {
    text-align: center;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 10px;
}

.labelSpan {
    font-size: 1.2rem;
}

.authWarningDiv {
    margin-top: 0.7rem;
}