.postContainerDiv {
    display: inline-block;
    width: 600px;
    border: 1px solid gray;
    margin-top: 10%;

    /*transform: translateY(30%);*/
    /*-ms-transform: translateY(30%);*/
    /*-moz-transform: translateY(30%);*/
    /*-webkit-transform: translateY(30%);*/
    /*-o-transform: translateY(30%);*/
}

.headerInfoColumn {
    margin-left: -1.5em;
    margin-top:0.2em;
}

.profileImgColumn {
    margin-left: 15px;
}

.profileImgDiv {
    margin-top: 10px;
    width: 65px;
    border: 1px solid black;
}

.usernameRow {
    margin-top: 15px;
    margin-left: -15px;
}

.usernameSpan {
    color: black;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2em;
    width: 400px;
}

.uploadDateRow {
    margin-top: 10px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: -15px;
}

.songInfoRow {
    margin-top: 0px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.bySpan {
    font-size: 1.2rem;
    font-color: gray;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-weight: 400;
}

.tagsRow {
    margin-top: -20px;
    font-size: 0.8rem;
}

.tagsSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: cornflowerblue;
}

.contentRow {
    margin-top: -23px;
    font-size: 0.8rem;
}

.contentSpan {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}

.actionRow {
    margin-top: -1em;
}

.actionLabel {
    color: lightslategray;
}

.actionIcon  {
    cursor: pointer;
}

.commentArrRow {
    margin-top: -1.2em;
}

.commentInputRow {
    margin-top: -20px;
}